<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <title>Editar Horario</title>
    <%- include('../component/util/header') %>
    <script src="https://cdn.jsdelivr.net/npm/timepicker@1.13.0/jquery.timepicker.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/timepicker@1.13.0/jquery.timepicker.css">

</head>
<body>
    <%- include('../component/util/nav-bar-admin') %>
    <div class="container-fluid">
        <div class="row">
            <div class="col">
                <form id="root" action="/administrar/horarios/horario/edit/" method="post" v-on:submit="enviar">
                    <input type="hidden" v-model="idMateriaOrginal" name="idMateriaOrginal">
                    <input type="hidden" v-model="aulaOriginal" name="aulaOriginal">
                    <input type="hidden" v-model="diaOriginal" name="diaOriginal">
                    <input type="hidden" v-model="moduloOriginal" name="moduloOriginal">
                    <input type="hidden" v-model="horafinOriginal" name="horafinOriginal">
                    <input type="hidden" v-model="horainicioOriginal" name="horainicioOriginal">
                    <input type="hidden" v-model="cuatrimestreOriginal" name="cuatrimestreOriginal">
                    <input type="hidden" v-model="estadoOriginal" name="estadoOriginal">
                    <div class="mb-3">
                        <label for="aula" class="form-label">Aula</label>
                        <input v-model="aula" type="text" class="form-control" id="aula" name="aula" aria-describedby="aula" value="<%- data.aula %>">
                        <div id="aula" class="form-text"></div>
                    </div>
                    <div class="mb-3">
                        <label for="dia" class="form-label">Dia</label>
                        <select v-model="dia" id="dia" name="dia" class="form-select" aria-label="Default select example"  value="<%- data.dia %> ">
                            <option value="-">-</option>
                            <option value="Lunes">Lunes</option>
                            <option value="Martes">Martes</option>
                            <option value="Miercoles">Miercoles</option>
                            <option value="Jueves">Jueves</option>
                            <option value="Viernes">Viernes</option>
                            <option value="Sabado">Sabado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="modulo" class="form-label">Modulo</label>
                        <input v-model="modulo" type="text" class="form-control" name="modulo" id="modulo" value="<%- data.modulo %>">
                    </div>
                    <div class="mb-3">
                        <label for="horainicio" class="form-label">Hora Inicio</label>
                        <input v-model="horainicio" placeholder="Selected time" type="text" id="horainicio" name="horainicio" class="form-control timepicker" value="<%- data.horainicio %>">
                        <label for="hora">Twelve hour clock</label>
                    </div>
                    <div class="mb-3">
                        <label for="horafin" class="form-label">Hora Fin</label>
                        <input v-model="horafin" placeholder="Selected time" type="text" id="horafin" name="horafin" class="form-control timepicker" value="<%- data.horafin %>">
                        <label for="hora">Twelve hour clock</label>
                    </div>
                    <div class="mb-3">
                        <label for="modulo" class="form-label">Cuatrimestre</label>
                        <select v-model="cuatrimestre" id="cuatrimestre" name="cuatrimestre" class="form-select" aria-label="Default select example"  value="<%- data.cuatrimestre %> ">
                            <option value="-">-</option>
                            <option value="1">1°</option>
                            <option value="2">2°</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <label for="estado" class="form-label">Estado</label>
                        <select v-model="estado" id="estado" name="estado" class="form-select" aria-label="Default select example"  value="<%- data.estado %> ">
                            <option value="normal">Normal</option>
                            <option value="parcial">Parcial</option>
                            <option value="cancelado">Cancelado</option>
                        </select>
                    </div>
                    <div class="mb-3">
                        <button class="btn btn-primary" v-on:click="editar()">Submit form</button>
                      </div>
                </form>
            </div>
        </div>
    </div>
    <script type="text/javascript">
        $('#horainicio').timepicker({ 'timeFormat': 'H:i:s' });
        $('#horafin').timepicker({ 'timeFormat': 'H:i:s' });
        // Time Picker Initialization
        var root = new Vue({
            el: '#root',          
            data: {
                idMateriaOrginal: "",          
                aulaOriginal: "",          
                diaOriginal: "",          
                moduloOriginal: "",          
                horainicioOriginal: "",          
                horafinOriginal: "",          
                cuatrimestreOriginal: "",          
                estadoOriginal: "",          
                idmateria: "",          
                aula: "",          
                dia: "",          
                modulo: "",          
                horainicio: "",          
                horafin: "",          
                cuatrimestre: "",          
                estado: "",          
                enviar: false,          
            },          
            mounted: function() {
                this.idMateriaOrginal = "<%= data.idMateria %>";
                this.aulaOriginal = "<%= data.aula %>";
                this.diaOriginal = "<%= data.dia %>";
                this.moduloOriginal = "<%= data.modulo %>";
                this.horafinOriginal = "<%= data.horafin %>";
                this.horainicioOriginal = "<%= data.horainicio %>";
                this.cuatrimestreOriginal = "<%= data.cuatrimestre %>";
                this.estadoOriginal = "<%= data.estado %>";

                this.idMateria = "<%= data.idMateria %>";
                this.aula = "<%= data.aula %>";
                this.dia = "<%= data.dia %>";
                this.modulo = "<%= data.modulo %>";
                this.horafin = "<%= data.horafin %>";
                this.horainicio = "<%= data.horainicio %>";
                this.cuatrimestre = "<%= data.cuatrimestre %>";
                this.estado = "<%= data.estado %>";
            },          
            method:{
                editar : function(){
                    this.enviar = true;
                }
            }
        })
    </script>
</body>
</html>